<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Add Genre</title>
</head>
<body>
<div class="container">
    <h3>Genre details</h3>
    <hr>
    <p class="h4 mb-4">Save Genre</p>
    <form action="#" th:action="@{/genres/save}" th:object="${genre}" method="post">

        <!-- add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{name}" class="form-control mb-4 col-4" placeholder="Genre name">
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
    <a th:href="@{/genres/list}">Back to Genres list</a>
</div>
</body>
</html>