<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Music Store Demo">
    <meta name="author" content="Dusan Stankovic">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>Music Store - Genre Form</title>
</head>
<body>

<!-- Header -->
<div class="container-fluid" th:replace="fragments/header :: header"></div>
<!-- Header -->

<p class="pb-5"></p>
<p class="pb-5"></p>

<div class="container">
    <h3 class="mb-3 pb-3">Genre Form</h3>
    <form class="pb-5" action="#" th:action="@{/genres/save}" th:object="${genre}" method="post">

        <!-- add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <div class="row g-2">
            <div class="col-md-6">
                <label for="name" class="form-label">Genre name</label>
                <input type="text" th:field="*{name}" class="form-control mb-4 col-4" id="name"
                       placeholder="Genre name">
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger"
                     role="alert"></div>
            </div>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </div>
    </form>
</div>

<!-- Footer -->
<div class="container-fluid" th:replace="fragments/footer :: footer"></div>
<!-- Footer -->

</body>
</html>