<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>List of Tracks</title>
</head>
<body>
<div class="container">
    <h3>List of Tracks</h3>
    <hr>
    <a th:href="@{/tracks/addTrack}" class="btn btn-primary btn-sm mb-3">Add Track</a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Track name</th>
            <th>Album title</th>
            <th>Media type</th>
            <th>Genre</th>
            <th>Composer</th>
            <th>Length (ms)</th>
            <th>Size (bytes)</th>
            <th>Unit price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="track : ${tracks}">
            <td th:text="${track.name}"/>
            <td th:text="${track.album.title}"/>
            <td th:text="${track.mediaType.name}"/>
            <td th:text="${track.genre.name}"/>
            <td th:text="${track.composer}"/>
            <td th:text="${track.milliseconds}"/>
            <td th:text="${track.bytes}"/>
            <td th:text="${track.unitPrice}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>