<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Music Store Demo">
    <meta name="author" content="Dusan Stankovic">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>Music Store - Track Form</title>
</head>
<body>

<!-- Header -->
<div class="container-fluid" th:replace="fragments/header :: header"></div>
<!-- Header -->

<div class="container">

    <div class="row mt-5"></div>
    <div class="row mt-5"></div>

    <h3 class="font-weight-light text-uppercase">Track Form</h3>

    <hr />

    <form class="pb-5"  action="#" th:action="@{/tracks/save}" th:object="${track}" method="post">

        <!-- add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <div class="row g-2">
            <p class="form-text">Fields marked with an asterisk (<span class="text-danger">*</span>) are required.</p>
            <div class="col-md-6">
                <label for="trackName" class="form-label">Track name <span class="text-danger">*</span></label>
                <input type="text" th:field="*{name}" class="form-control mb-4 col-4" id="trackName"
                       placeholder="Track name">
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger"
                     role="alert"></div>
            </div>
            <div class="col-md-6">
                <label for="album" class="form-label">Album <span class="text-danger">*</span></label>
                <select th:field="${track.album.id}" class="form-select" id="album">
                    <option value="0" disabled>Select...</option>
                    <option th:each="album : ${albums}" th:value="${album.id}" th:text="${album.title}"></option>
                </select>
                <div th:if="${#fields.hasErrors('album')}" th:errors="*{album.id}" class="alert alert-danger"
                     role="alert"></div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-6">
                <label for="mediaType" class="form-label">Media type <span class="text-danger">*</span></label>
                <select th:field="${track.mediaType.id}" class="form-select" id="mediaType">
                    <option value="0" disabled>Select...</option>
                    <option th:each="mediatype : ${mediatypes}" th:value="${mediatype.id}" th:text="${mediatype.name}">
                    </option>
                </select>
                <div th:if="${#fields.hasErrors('mediaType')}" th:errors="*{mediaType}" class="alert alert-danger"
                     role="alert"></div>
            </div>
            <div class="col-md-6">
                <label for="genre" class="form-label">Genre</label>
                <select th:field="${track.genre.id}" class="form-select" id="genre">
                    <option value="0" disabled>Select...</option>
                    <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
                </select>
            </div>
        </div>
        <div class="row g-2 mt-3">
            <div class="col-md-6">
                <label for="composer" class="form-label">Composer</label>
                <input type="text" th:field="*{composer}" class="form-control mb-4 col-4" id="composer"
                       placeholder="Composer name">
            </div>
            <div class="col-md-3">
                <label for="length" class="form-label">Track length in milliseconds <span class="text-danger">*</span></label>
                <input type="number" th:field="*{milliseconds}" class="form-control mb-4 col-4" id="length"
                       placeholder="0">
                <div th:if="${#fields.hasErrors('milliseconds')}" th:errors="*{milliseconds}" class="alert alert-danger"
                     role="alert"></div>
            </div>
            <div class="col-md-3">
                <label for="size" class="form-label">Track size in bytes</label>
                <input type="number" th:field="*{bytes}" class="form-control mb-4 col-4" id="size"
                       placeholder="0">
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-6">
                <label for="price" class="form-label">Unit price</label>
                <input type="number" th:field="*{unitPrice}" class="form-control mb-4 col-4" id="price">
                <div th:if="${#fields.hasErrors('unitPrice')}" th:errors="*{unitPrice}" class="alert alert-danger"
                     role="alert"></div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </div>
    </form>
</div>

<!-- Footer -->
<div class="container-fluid" th:replace="fragments/footer :: footer"></div>
<!-- Footer -->

</body>
</html>