<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Music Store Demo">
    <meta name="author" content="Dusan Stankovic">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>Music Store - Track Form</title>
</head>
<body>

<!-- Header -->
<div class="container-fluid" th:replace="fragments/header :: header"></div>
<!-- Header -->

<p class="pb-5"></p>
<p class="pb-5"></p>

<div class="container">
    <h3 class="mb-3 pb-3">Track Form</h3>
    <form class="pb-5"  action="#" th:action="@{/tracks/save}" th:object="${track}" method="post">

        <!-- add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <div class="row g-2">
            <div class="col-md-6">
                <label for="trackName" class="form-label">Track name</label>
                <input type="text" th:field="*{name}" class="form-control mb-4 col-4" id="trackName"
                       placeholder="Track name">
            </div>
            <div class="col-md-6">
                <label for="album" class="form-label">Album</label>
                <select th:field="${track.album.id}" class="form-select" id="album">
                    <option th:each="album : ${albums}" th:value="${album.id}" th:text="${album.title}"></option>
                </select>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-6">
                <label for="mediaType" class="form-label">Media type</label>
                <select th:field="${track.mediaType.id}" class="form-select" id="mediaType">
                    <option th:each="mediatype : ${mediatypes}" th:value="${mediatype.id}" th:text="${mediatype.name}">
                    </option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="genre" class="form-label">Genre</label>
                <select th:field="${track.genre.id}" class="form-select" id="genre">
                    <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
                </select>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-6">
                <label for="composer" class="form-label">Composer</label>
                <input type="text" th:field="*{composer}" class="form-control mb-4 col-4" id="composer"
                       placeholder="Composer name">
            </div>
            <div class="col-md-3">
                <label for="length" class="form-label">Track length in milliseconds</label>
                <input type="number" th:field="*{milliseconds}" class="form-control mb-4 col-4" id="length"
                       placeholder="0">
            </div>
            <div class="col-md-3">
                <label for="size" class="form-label">Track size in bytes</label>
                <input type="number" th:field="*{bytes}" class="form-control mb-4 col-4" id="size"
                       placeholder="0">
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-6">
                <label for="price" class="form-label">Unit price</label>
                <input type="number" th:field="*{unitPrice}" class="form-control mb-4 col-4" id="price"
                       placeholder="0.00">
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Save</button>
    </form>
</div>

<!-- Footer -->
<div class="container-fluid" th:replace="fragments/footer :: footer"></div>
<!-- Footer -->

</body>
</html>