<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Music Store Demo">
    <meta name="author" content="Dusan Stankovic">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>Music Store - Customer Form</title>
</head>
<body>

<!-- Header -->
<div class="container-fluid" th:replace="fragments/header :: header"></div>
<!-- Header -->

<div class="container">

    <div class="row mt-5"></div>
    <div class="row mt-5"></div>

    <h3 class="font-weight-light text-uppercase">Customer Form</h3>

    <hr />

    <form class="pb-5" action="#" th:action="@{/customers/save}" th:object="${customer}" method="post">

        <!-- add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}"/>

        <div class="row g-2">
            <p class="form-text">Fields marked with an asterisk (<span class="text-danger">*</span>) are required.</p>
            <div class="col-md-6">
                <label for="firstName" class="form-label">First name <span class="text-danger">*</span></label>
                <input type="text" th:field="*{firstName}" class="form-control mb-4 col-4" id="firstName"
                       placeholder="First name">
                <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="alert alert-danger"
                     role="alert"></div>
            </div>
            <div class="col-md-6">
                <label for="lastName" class="form-label">Last name <span class="text-danger">*</span></label>
                <input type="text" th:field="*{lastName}" class="form-control mb-4 col-4" id="lastName"
                       placeholder="Last name">
                <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert alert-danger"
                     role="alert"></div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-6">
                <label for="company" class="form-label">Company</label>
                <input type="text" th:field="*{company}" class="form-control mb-4 col-4" id="company"
                       placeholder="Company">
            </div>
            <div class="col-md-6">
                <label for="address" class="form-label">Address</label>
                <input type="text" th:field="*{address}" class="form-control mb-4 col-4" id="address"
                       placeholder="Address">
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-6">
                <label for="city" class="form-label">City</label>
                <input type="text" th:field="*{city}" class="form-control mb-4 col-4" id="city"
                       placeholder="City">
            </div>
            <div class="col-md-3">
                <label for="postalCode" class="form-label">Postal code</label>
                <input type="text" th:field="*{postalCode}" class="form-control mb-4 col-4" id="postalCode"
                       placeholder="Postal code">
            </div>
            <div class="col-md-3">
                <label for="state" class="form-label">State</label>
                <input type="text" th:field="*{state}" class="form-control mb-4 col-4" id="state"
                       placeholder="State">
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" th:field="*{country}" class="form-control mb-4 col-4" id="country"
                       placeholder="Country">
            </div>
            <div class="col-md-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" th:field="*{phone}" class="form-control mb-4 col-4" id="phone"
                       placeholder="Phone">
                <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="alert alert-danger"
                     role="alert"></div>
            </div>
            <div class="col-md-3">
                <label for="fax" class="form-label">Fax</label>
                <input type="text" th:field="*{fax}" class="form-control mb-4 col-4" id="fax"
                       placeholder="Fax">
                <div th:if="${#fields.hasErrors('fax')}" th:errors="*{fax}" class="alert alert-danger"
                     role="alert"></div>
            </div>
            <div class="col-md-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" th:field="*{email}" class="form-control mb-4 col-4" id="email"
                       placeholder="Email">
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"
                     role="alert"></div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-6 mb-3">
                <label for="customerRep" class="form-label">Customer representative</label>
                <select th:field="${customer.employee.id}" class="form-select" id="customerRep">
                    <option value="0" disabled>Select...</option>
                    <option th:each="employee : ${employees}" th:value="${employee.id}"
                            th:text="${employee.firstName + ' ' + employee.lastName}"></option>
                </select>
            </div>
        </div>
        <div class="col-md-12 pt-2">
            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </div>
    </form>
</div>

<!-- Footer -->
<div class="container-fluid" th:replace="fragments/footer :: footer"></div>
<!-- Footer -->

</body>
</html>