<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Music Store Demo">
    <meta name="author" content="Dusan Stankovic">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>Music Store - Invoice Form</title>
</head>
<body>

<div class="container-fluid" th:replace="fragments/header :: header">
    <!-- Header -->
</div>

<div class="container">
    <h3>Invoice details</h3>
    <hr>
    <p class="h4 mb-4">Save Invoice</p>
    <form action="#" th:action="@{/invoices/save}" th:object="${invoice}" method="post">

        <!-- add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <label>Customer name:</label>
        <select th:field="${invoice.customer.id}" class="form-control mb-4 col-4">
            <option value="0">Select customer:</option>
            <option th:each="customer : ${customers}" th:value="${customer.id}"
                    th:text="${customer.firstName + ' ' + customer.lastName}">Customer</option>
        </select>
        <span class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('customer.id')}"
              th:errors="${invoice.customer.id}"/>
        <label>Invoice date:</label>
        <input type="text" th:field="*{invoiceDate}" class="form-control mb-4 col-4" placeholder="Invoice Date">
        <span class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('invoiceDate')}"
              th:errors="*{invoiceDate}"/>
        <label>Billing address:</label>
        <input type="text" th:field="*{billingAddress}" class="form-control mb-4 col-4" placeholder="Billing Address">
        <label>Billing city:</label>
        <input type="text" th:field="*{billingCity}" class="form-control mb-4 col-4" placeholder="Billing City">
        <label>Billing state:</label>
        <input type="text" th:field="*{billingState}" class="form-control mb-4 col-4" placeholder="Billing State">
        <label>Billing country:</label>
        <input type="text" th:field="*{billingCountry}" class="form-control mb-4 col-4" placeholder="Billing Country">
        <label>Billing postal code:</label>
        <input type="text" th:field="*{billingPostalCode}" class="form-control mb-4 col-4" placeholder="Billing Postal Code">
        <label>Total:</label>
        <input type="text" th:field="*{total}" class="form-control mb-4 col-4" placeholder="Total">
        <span class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('total')}" th:errors="*{total}"/>
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
    <a th:href="@{/invoices/list}">Back to Invoices list</a>
</div>

<div class="container-fluid" th:replace="fragments/footer :: footer">
    <!-- Footer -->
</div>

</body>
</html>