<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Music Store Demo">
    <meta name="author" content="Dusan Stankovic">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>Music Store - Invoice Form</title>
</head>
<body>

<!-- Header -->
<div class="container-fluid" th:replace="fragments/header :: header"></div>
<!-- Header -->

<div class="container">

    <div class="row mt-5"></div>
    <div class="row mt-5"></div>

    <h3 class="font-weight-light text-uppercase">Invoice Form</h3>

    <hr />

    <form class="pb-5" action="#" th:action="@{/invoices/save}" th:object="${invoice}" method="post">

        <!-- add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}"/>

        <div class="row g-4">
            <div class="col-md-12 pb-2">
                <h1 class="display-5">Invoice # <span th:text="*{id} > 0 ? *{id} : '{new}'"></span></h1>
            </div>
        </div>
        <div class="row g-2">
            <p class="form-text">Fields marked with an asterisk (<span class="text-danger">*</span>) are required.</p>
            <div class="col-md-6">
                <label for="invoiceDate" class="form-label">Invoice date <span class="text-danger">*</span></label>
                <input type="date" th:field="*{invoiceDate}" class="form-control mb-4 col-4" id="invoiceDate">
                <div th:if="${#fields.hasErrors('invoiceDate')}" th:errors="*{invoiceDate}" class="alert alert-danger"
                     role="alert"></div>
            </div>
            <div class="col-md-6">
                <label for="customer" class="form-label">Customer <span class="text-danger">*</span></label>
                <select th:field="${invoice.customer.id}" class="form-select" id="customer">
                    <option value="0" disabled>Select...</option>
                    <option th:each="customer : ${customers}" th:value="${customer.id}"
                            th:text="${customer.firstName + ' ' + customer.lastName}"></option>
                </select>
                <div th:if="${#fields.hasErrors('customer')}" th:errors="*{customer}" class="alert alert-danger"
                     role="alert"></div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-6">
                <label for="address" class="form-label">Billing address</label>
                <input type="text" th:field="*{billingAddress}" class="form-control mb-4 col-4" id="address"
                       placeholder="Billing address">
            </div>
            <div class="col-md-3">
                <label for="city" class="form-label">Billing city</label>
                <input type="text" th:field="*{billingCity}" class="form-control mb-4 col-4" id="city"
                       placeholder="Billing city">
            </div>
            <div class="col-md-3">
                <label for="postalCode" class="form-label">Billing postal code</label>
                <input type="text" th:field="*{billingPostalCode}" class="form-control mb-4 col-4" id="postalCode"
                       placeholder="Billing postal code">
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-6">
                <label for="state" class="form-label">Billing state</label>
                <input type="text" th:field="*{billingState}" class="form-control mb-4 col-4" id="state"
                       placeholder="Billing state">
            </div>
            <div class="col-md-6">
                <label for="country" class="form-label">Billing country</label>
                <input type="text" th:field="*{billingCountry}" class="form-control mb-4 col-4" id="country"
                       placeholder="Billing country">
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-6">
                <label for="total" class="form-label">Invoice total</label>
                <input type="number" th:field="*{total}" class="form-control mb-4 col-4" id="total"
                       placeholder="Invoice total">
                <div th:if="${#fields.hasErrors('total')}" th:errors="*{total}" class="alert alert-danger"
                     role="alert"></div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </div>
    </form>
</div>

<!-- Footer -->
<div class="container-fluid" th:replace="fragments/footer :: footer"></div>
<!-- Footer -->

</body>
</html>