<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Music Store Demo">
    <meta name="author" content="Dusan Stankovic">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>Music Store - Album Form</title>
</head>
<body>

<div class="container-fluid" th:replace="fragments/header :: header">
    <!-- Header -->
</div>

<div class="container">
    <h3>Album details</h3>
    <hr>
    <p class="h4 mb-4">Save Album</p>
    <form action="#" th:action="@{/albums/save}" th:object="${album}" method="post">

        <!-- add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <label>Album Title:</label>
        <input type="text" th:field="*{title}" class="form-control mb-4 col-4" placeholder="Album title">
        <span class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
        <label>Artist:</label>
        <select th:field="${album.artist.id}" class="form-control mb-4 col-4">
            <option value="0">Select artist:</option>
            <option th:each="artist : ${artists}" th:value="${artist.id}" th:text="${artist.name}">Artist</option>
        </select>
        <span class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('artist.id')}"
              th:errors="*{artist.id}"/>
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
    <a th:href="@{/albums/list}">Back to Albums list</a>
</div>

<div class="container-fluid" th:replace="fragments/footer :: footer">
    <!-- Footer -->
</div>

</body>
</html>