<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Music Store Demo">
    <meta name="author" content="Dusan Stankovic">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>Music Store - List of Invoice Lines</title>
</head>
<body>

<div class="container-fluid" th:replace="fragments/header :: header">
    <!-- Header -->
</div>

<div class="container">
    <h3>Invoice lines</h3>
    <hr>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Track name</th>
            <th>Unit price</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invoiceline : ${invoicelines}">
            <td th:text="${invoiceline.track.name}"/>
            <td th:text="${invoiceline.unitPrice}"/>
            <td th:text="${invoiceline.quantity}"/>
        </tr>
        </tbody>
    </table>
</div>

<div class="container-fluid" th:replace="fragments/footer :: footer">
    <!-- Footer -->
</div>

</body>
</html>