<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Music Store Demo">
    <meta name="author" content="Dusan Stankovic">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>Music Store - Home Page</title>
</head>
<body class="d-flex h-100 text-center text-white bg-dark">

<div class="container-fluid" th:replace="fragments/header :: header">
    <!-- Header -->
</div>

<img src="images/music_store_logo_md_opaque.png" class="img-fluid mx-auto" alt="Music Store Logo"/>

<div class="container-fluid" th:replace="fragments/footer :: footer">
    <!-- Footer -->
</div>

</body>
</html>