<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>List of Employees</title>
</head>
<body>
<div class="container">
    <h3>List of Employees</h3>
    <hr>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Title</th>
            <th>Reports to</th>
            <th>Birth date</th>
            <th>Hire date</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Postal code</th>
            <th>Phone</th>
            <th>Fax</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.firstName}"/>
            <td th:text="${employee.lastName}"/>
            <td th:text="${employee.title}"/>
            <td th:text="${employee.employee?.firstName}"/>
            <td th:text="${employee.birthDate}"/>
            <td th:text="${employee.hireDate}"/>
            <td th:text="${employee.address}"/>
            <td th:text="${employee.city}"/>
            <td th:text="${employee.state}"/>
            <td th:text="${employee.country}"/>
            <td th:text="${employee.postalCode}"/>
            <td th:text="${employee.phone}"/>
            <td th:text="${employee.fax}"/>
            <td th:text="${employee.email}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>